.page-login {
    align-items: center;
    flex-direction: column;

    .form {
        margin-left: 30;
        margin-right: 30;
        flex-grow: 2;
        vertical-align: middle;

        .logo {
            margin-bottom: 12;
            height: 90;
            font-weight: bold;
        }

        .header {
            horizontal-align: center;
            font-size: 25;
            font-weight: 600;
            margin-bottom: 70;
            text-align: center;
            color: #D51A1A;
        }

        .input-field {
            margin-bottom: 25;

            .input {
                font-size: 18;
                placeholder-color: #A8A8A8;
            }

            .input:disabled {
                background-color: white;
                opacity: 0.5;
            }
            
        }

        .btn-primary {
            margin: 30 5 15 5;
        }
          
    }

    .login-label {
        horizontal-align: center;
        color: #A8A8A8;
        font-size: 16;
    }

    .sign-up-label {
        margin-bottom: 20;
    }

    .login-label, .sign-up-label {
        .bold {
            color: #000000; 
        }
    }

}
  